.pro-gallery img {
    cursor: pointer;
}

.react-image-gallery-container-container {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
}

.react-image-gallery-container {
    position: relative;
}

.target-poke-desc h1 {
    position: fixed;
    z-index: 1001;
}

.target-poke-desc-top-left {
    top: 10px;
    left: 40px;
    font-size:4vw;
}

.target-poke-desc-bottom-center {
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    word-spacing: 20px;
}